body {
  background-color: #0f0f0f;

  background-image: 
    linear-gradient(rgba(0, 255, 200, 0.08) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 255, 200, 0.08) 1px, transparent 1px);

  background-size: 50px 50px;
}
.title {
  position: absolute;
  top: 5%;
  color: #e0f7ff;
  font-size: 40px;
  font-weight: bold;
  color: white;
  letter-spacing: 3px;
    z-index: 2;
   text-shadow:
    0 0 5px rgba(0, 255, 255, 0.6),
    0 0 10px rgba(0, 255, 255, 0.5),
    0 0 20px rgba(0, 255, 255, 0.4),
    0 0 40px rgba(0, 255, 255, 0.3);
     /* Smooth glow animation */
  animation: glowPulse 2s ease-in-out infinite alternate;
  margin-right: 20px;
}
.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  

  .wrapper::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  background: radial-gradient(circle, rgba(0,255,200,0.15), transparent 70%);
  filter: blur(80px);
  z-index: 0;
}
.description {
  margin-top: 40px;
  max-width: 600px;
  color: #ccc;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}
}
.inner {
  --w: 100px;
  --h: 150px;
  --translateZ: calc((var(--w) + var(--h)) + 0px);
  --rotateX: -15deg;
  --perspective: 1000px;
    z-index: 2;
     margin-top: 30px;

  position: absolute;
  width: var(--w);
  height: var(--h);
  top: 35%;
  left: calc(50% - (var(--w) / 2) - 2.5px);

  transform-style: preserve-3d;
  transform: perspective(var(--perspective));

  animation: rotating 20s linear infinite;
}

@keyframes rotating {
  from {
    transform: perspective(var(--perspective)) rotateX(var(--rotateX)) rotateY(0);
  }
  to {
    transform: perspective(var(--perspective)) rotateX(var(--rotateX)) rotateY(1turn);
  }
}

.card {
  position: absolute;
  border: 2px solid rgba(var(--color-card));
  box-shadow: 0 0 20px rgba(var(--color-card), 0.3);
  border-radius: 12px;
  overflow: hidden;
   color: rgba(var(--color-card));
  inset: 0;

  transform: rotateY(calc((360deg / var(--quantity)) * var(--index)))
    translateZ(var(--translateZ));
}
.card-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
.icon {
  font-size: 28px;
  margin-bottom: 10px;

  /* glow */
  /* text-shadow: 0 0 10px rgba(255,255,255,0.6); */
  text-shadow: 0 0 10px rgba(var(--color-card), 0.8);
}
.text {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 600;
  opacity: 0.9;

  /* subtle glow */
  /* text-shadow: 0 0 8px rgba(255,255,255,0.4); */
  text-shadow: 0 0 10px rgba(var(--color-card), 0.8);
}

.img {
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(var(--color-card), 0.2) 0%,
    rgba(var(--color-card), 0.6) 80%,
    rgba(var(--color-card), 0.9) 100%
  );
}

